.aboutme-section{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #E8BD5A;
  width:  100%;
  height: 160vh;
  margin-top: 600vh;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.about-me{
  font-weight: 100;
  font-size: 10vh;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin-top: 60px;
  margin-left: 72vh;
  color: white;
  letter-spacing: 2px;
}

.interests-text{
  height: 380px;
  width: 460px;
  background-color: #5E5B52;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: white;
  text-decoration: none;
}
.interests-text:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 1s;
  text-decoration: none;
}
.swimming-image-1 {
 margin-left: 7%;
}
.profile-text{
  margin-left: 7%;
  height: 380px;
  width: 460px;
  background-color: #5E5B52;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: white;
  text-decoration: none;
}
.profile-text:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.7s;
  text-decoration: none;
}
.profile-image{
 margin-left: 25%;
}
.skills-text{
  height: 380px;
  width: 430px;
  background-color: #5E5B52;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: white;
  text-decoration: none;
}
.skills-text:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.7s;
  text-decoration: none;
}
.leWagon-image{

  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.rowing-image{
 margin-left: 15%;
}
.education-text{
  height: 420px;
  width: 425px;
  background-color: #5E5B52;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: white;
  text-decoration: none;
}
.education-text:hover{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.7s;
  text-decoration: none;
}
