// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}
.project.fade-in{
  opacity: 1;
  transform: translateY(0);
}

h2{
 font-family: 'Yanone Kaffeesatz', sans-serif;
 letter-spacing: 2px;
}
.row {
  margin-left: unset;
  margin-right: unset;
}
